body {
 background-color: #004f8c;
 background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

.containerBackground{
    background-color: #3b3b3b;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

.titleFont{
    /*font-family: 'Domine',
    serif;*/
     font-family: 'PT Serif',
    serif; 
}